@media screen and (max-width: 800px) {
  .header {
    display: flex;
    background-color: black;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
    border-bottom: 1px solid #cc00ff91;
    filter: drop-shadow(0px 0px 15px #cc00ff);
  }
  .img_logo {
    width: 50px;
    height: 50px;
  }
  .navbar {
    display: block;
    width: 140px;
    justify-content: space-between;
  }
  .navigation {
    list-style: none;
    width: 140px;
  }
  .navigation_tap {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }

  .block-1 {
    height: 300px;
    background-color: #000000;
    margin: 10px 25px 10px 25px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #cc00ff91;
    filter: drop-shadow(0px 0px 10px #cc00ff);
  }
  .block-1_text {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  .block-1_text-mini {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
  }

  .block-2 {
    height: 250px;
    background-color: #000000;
    margin: 10px 25px 10px 25px;
    border-radius: 20px;
    border: 1px solid #cc00ff91;
    filter: drop-shadow(0px 0px 10px #cc00ff);
  }
  .vk {
    height: 100px;
    width: 100px;
  }
  .tg {
    height: 100px;
    width: 100px;
  }
  .vk-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tg-text {
    text-decoration: none;
    color: white;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    background-color: #000000;
    height: 100px;
    width: 100%;
    border-top: 1px solid #cc00ff91;
    filter: drop-shadow(0px 0px 15px #cc00ff);
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
  }
  .footer-img {
    width: 50px;
    height: 50px;
  }
  .content-footer {
    display: flex;
  }
}
